.fighter-info {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

.fi-header {
    padding: 2px 16px;
    background-color: grey;
    color: white;
}

.fi-header h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-family: Arial;
}

/* Modal Body */

.fi-body {
    padding: 10px 16px;
}

/* Modal Footer */

.fi-footer {
    /*padding: 2px 16px;*/
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 16px;
    padding-right: 16px;
    /* background-color: grey; */
    color: white;
}

/* Modal Content/Box */

.fi-content {
    position: relative;
    background-color: #fefefe;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border: 1px solid #888;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-form {
    display: grid;
    grid-template-columns: 50px 100px 60px 100px;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 10px;
    align-items: center;
}

.content-form span {
    text-align: right;
    font-family: Arial;
}

.content-form input[type="text"] {
    min-width: 50px;
    max-width: 100px;
    margin: 0;
    border: 2px solid #ccc;
    border-radius: 2px;
    padding: 2px;
}

.content-form input[type="number"] {
    min-width: 50px;
    max-width: 93px;
    margin: 0;
    border: 2px solid #ccc;
    border-radius: 2px;
    padding: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fi-footer .fi-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}

.fi-footer button {
    font-family: Arial;
    font-weight: bolder;
    min-width: 80px;
    border: 1px solid darkgrey;
    color: white;
    background-color: #808080;
    height: 20px;
}


.fi-footer button:hover {    
    border: 1px solid black;    
}