#fight-stage {
    display: none;
}

.ring-lfighter {
    display: inline-block;
    vertical-align: top;
}

.ring-rfighter {
    display: inline-block;
    vertical-align: top;
}

.ring-battlelog {
    display: inline-block;
}

.ring-fighter-name {
    margin-bottom: 10px;
    font-weight: bold;
    font-style: italic;
}

.ring-fighter-healthbar-wrapper {
    border: 1px solid black;
    height: 20px;
    width: 300px;
    margin-bottom: 10px;
}

.ring-fighter-healthbar {
    width: 37%;
    height: 20px;
    background-color: red;
}

.ring-fighter-image {
    max-height: 500px;
}

.ring-rfighter .ring-fighter-image {
    transform: scaleX(-1);
}

.ring-battlelog {
    width: 300px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

button.endFight {	
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
	box-shadow:inset 0px -3px 7px 0px #29bbff;	
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);	
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 41px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
button.endFight:hover {	
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);	
	background-color:#0688fa;
}
button.endFight:active {
	position:relative;
	top:1px;
}