html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.fighters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    padding: 0 15px;
}

.fighter {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fighter:hover {
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.06);
    border-radius: 15px;
    cursor: pointer;
}

.name {
    align-self: center;
    font-size: 21px;
    margin-top: 20px;
}

.fighter-image {
    height: 260px;
}

.fighter-checkbox {
    align-self: center;
    margin-top: 20px;
}

.fighter-selected {
    border: 1px solid rgba(255, 0, 0, 0.1);
    border-radius: 15px;
    box-shadow: 1px 1px 30px -10px rgba(128,0,0,1);
}

#loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.7);
    visibility: hidden;
}

.fight-button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    cursor: pointer;
    width: 150px;
}
.fight-button-image {
    max-width: 100%;
    max-height: 100%;
}